/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.AboutImage1 {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.aboutUsContainer {
    position: relative;
}
.mainAboutHeadingBox{
    position: absolute;
    background-color: black;
    width: 50%;
    margin: auto;
    padding: 50px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}
.otherHeadingAboutUs {
    margin-top: 100px;
}
.missionVissionContainer img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}