
.innerServiceImage1 {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.innerServiceContainer {
    position: relative;
}
.maininnerServiceHeadingBox{
    position: absolute;
    background-color: black;
    width: 50%;
    margin: auto;
    padding: 50px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}
.otherHeadinginnerService {
    margin-top: 100px;
}
.offerBoxes .offerBox {
    width: auto;
    height: 250px;
    /* background-color: skyblue; */
    justify-content: space-between;
}
