
.innerServiceImage1 {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.innerServiceContainer {
    position: relative;
}
.maininnerServiceHeadingBox{
    /* font styles */
    font-family: 'DM Serif Display',  sans-serif;
    font-size: 3.5em;
    color: #fff;
    text-align: center;
    position: absolute;
    background-color: rgb(73, 73, 73);
    width: 50%;
    margin: auto;
    /* padding: 30px; */
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}
.otherHeadinginnerService h4 {
    /* font styles */
    font-family: 'karla', sans-serif;
    text-transform: uppercase;
    margin-top: 100px;
}
.innerServiceContent {
    /* font styles */
    font-family: 'quicksand', sans-serif;
}
.offerBoxes .offerBox {
    width: auto;
    height: auto;
    /* background-color: skyblue; */
    justify-content: space-between;
}
  
  /* ===== Tablet View (smaller laptops / tablets) ===== */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
     .maininnerServiceHeadingBox{
        font-size: 2.5rem;
        text-align: center;
     }
  }
  
  /* ===== Mobile View ===== */
  @media only screen and (max-width: 767px) {
    .maininnerServiceHeadingBox{
        font-size: 2rem;
        text-align: center;
     }
  }
  
